header {
    background: #159957;
    background-image:linear-gradient(120deg, #155799, #159957);
    height: 52px;
    color: #fff;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    a {
        color: #fff;
        -webkit-transition: 0.2s ease;
        transition: 0.2s ease;
        &:hover {
            color: #fff;
        }
    }
    .wrapper {
        width: 1140px;
        margin: 0 auto;
        line-height: 52px;
        .brand {
            font-size: 18px;
        }
        small {
            margin-left: 26px;
            font-size: 14px;
        }
        .menu{
            display: none;
        }
        nav {
            float: right;
            ul {
                font-size: 0;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    font-size: 14px;
                    display: inline-block;
                    -webkit-transition: 0.2s ease;
                    transition: 0.2s ease;
                    a {
                        display: inline-block;
                        padding: 0 10px;
                        height: 52px;
                        &:hover {
                            color: rgba(255, 255, 255, 0.8);
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                    >.active {
                        color: rgba(255, 255, 255, 0.8);
                        background-color: rgba(255, 255, 255, 0.2);
                        box-shadow: 0 25px 25px -15px rgba(255,255,255,0.93);
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    header {
        height: 50px;
        .wrapper {
            width: 90%;
            line-height: 50px;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 15px;
                font-size: 12px;
            }
            .menu{
                display: none;
            }
            nav {
                ul {
                    li {
                        a {
                            padding: 0 8px;
                            height: 50px;
                            i {
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    header {
        height: 48px;
        margin-bottom: 15px;
        .wrapper {
            width: 95%;
            margin: 0 auto;
            line-height: 48px;
            position: relative;
            z-index: 101;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 10px;
                font-size: 12px;
            }
            .menu{
                display: inline-block;
                position: absolute;
                z-index: -102;
                right: 0;
                top: 5px;
                padding: 3px 10px;
                border-radius: 4px;
                color: rgba(255, 255, 255, 0.8);
                background-color: rgba(255, 255, 255, 0.2);
                font-size: 24px;
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
            }
            >.active{
                background: rgba(255, 255, 255, 0.4);
                color: #fff;
            }
            .nav-show{
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }
            nav {
                position: absolute;
                z-index: 100;
                right:0;
                top:47px;
                text-align: center;

                visibility: hidden;
                transform-origin: 100% 0%;
                transform: scale(0.1);
                opacity: 0;
                transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
                ul {
                    background: #159957;
                    background-image:linear-gradient(120deg, #155799, #159957);
                    border-radius: 0 0 4px 4px;
                    li {
                        font-size: 14px;
                        display: block;
                        a {
                            display: block;
                            padding: 0 10px;
                            height: 40px;
                            line-height: 40px;
                        }
                        &:last-of-type{
                            border: none;
                        }
                        >.active {
                            color: #fff;
                            background-color: rgba(255, 255, 255, 0.4);
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}
